input[type="email"] {
    width: 150px;
}
input[type="email"]:invalid {
    background-color: red;
}
input[type="email"]:valid {
    background-color: green;
}

input[type="url"]:invalid {
    background-color: red;
}

input[type="url"]:valid {
    background-color: green;
    
}